/*  gnb 메뉴 조절 */

/* header */
@media screen and (max-width: 1100px) {

  .visual-left {
    top: 0;
    width: 10% !important;
  }

  .visual-right {
    right: 30% !important;
    opacity: 0.5;
  }

}

@media screen and (max-width: 1040px) {
  .mb-bt {
    display: block !important;
    top: 30px !important;
  }

  .header {
    width: 80%;
    text-align: center;
  }

  .header>.logo {
    width: 11.11vw;
    height: 5vh;
    top: 15px;
  }

  .header .inner {
    width: 100vw;
    height: 70px;
  }

  .header .inner .gnb>li {
    display: none;
  }
}

@media screen and (max-width: 1030px) {
  .header>.logo {
    width: 11.11vw;
    height: 5vh;
    top: 15px;
  }
}


/* Visual */
@media screen and (max-width: 680px) {
  .visual-right-textbox {
    padding-left: 20px !important;
  }

  .visual-right-textbox>p {
    font-size: 13px;
    white-space: nowrap;
  }

  .visual-right-textbox>h5 {
    font-size: 40px !important;
    white-space: nowrap;
  }

}

/* profile */
@media screen and (max-width: 1095px) {
  .profile {
    position: relative;
    display: block;
  }

  .profile .inner {
    position: relative;
    display: block;
  }

  /* .profile-container {

  } */
  .porfile-left-img {
    position: relative;
    display: inline-block;
    width: 13.48vw;
  }

  .profile-center {
    position: relative;
    display: inline-block;
  }

  .profile-right {
    position: relative;
    display: block;
    margin-top: 100px;
    padding-left: 100px;
  }

  .profile-right-education {
    float: left;

  }

  .profile-right-experience {
    float: right;
  }
}

@media screen and (max-width: 830px) {
  .profile {
    position: relative;
    display: block;
  }

  .profile .inner {
    position: relative;
    display: block;
    padding-top: 50px !important;
    padding-bottom: 50px;
  }

  .profile-container {
    display: block !important;
  }

  .profile-left {
    display: block;
    margin: 0 auto;
  }

  .profile-left>span {
    position: relative;
    display: block;
    text-align: center;
    margin-top: 30px !important;
  }

  .profile-left>span::after {
    left: 40% !important;
    bottom: 10px !important;
  }

  .porfile-left-img {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 13.48vw;
  }

  .profile-center {
    position: relative;
    display: block;
    padding-top: 50px;
    margin: 0 auto;
  }

  .profile-right {
    position: relative;
    display: block;
    margin-top: 100px;
    padding-left: 100px;
  }

  .profile-right-education {
    float: left;

  }

  .profile-right-experience {
    float: right;
  }
}

@media screen and (max-width: 600px) {
  .profile {
    position: relative;
    display: block;
  }

  .profile .inner {
    position: relative;
    display: block;
    padding-top: 50px !important;
    padding-bottom: 50px;
  }

  .profile-container {
    display: block !important;
  }

  .profile-left {
    display: block;
    margin: 0 auto;
  }

  .profile-left>span {
    position: relative;
    display: block;
    text-align: center;
    margin-top: 30px !important;
  }

  .profile-left>span::after {
    left: 40% !important;
    bottom: 10px !important;
  }

  .porfile-left-img {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 13.48vw;
  }

  .profile-center {
    position: relative;
    display: block;
    width: 480px !important;
    padding-top: 50px;
    margin: 0 auto;
  }

  .profile-right {
    margin-top: 100px;
    padding-left: 10px;
  }

  .profile-right-education {
    display: inline-block;
  }
}

@media screen and (max-width: 500px) {
  .profile {
    position: relative;
    display: block;
  }

  .profile .inner {
    position: relative;
    display: block;
    padding-top: 50px !important;
    padding-bottom: 50px;
  }

  .profile-container {
    display: block !important;
  }

  .profile-left {
    display: block;
    margin: 0 auto;
  }

  .profile-left>span {
    position: relative;
    display: block;
    text-align: center;
    left: 0 !important;
    margin-top: 30px !important;
  }

  .profile-left>span::after {
    left: 40% !important;
    bottom: 10px !important;
  }

  .porfile-left-img {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 13.48vw;
  }

  .profile-center {
    position: relative;
    display: block;
    width: 480px !important;
    padding-top: 50px;
    margin: 0 auto;
    padding-left: 0 !important;
  }

  .profile-center-textbox>div>span {
    font-size: 18px !important;
  }

  .profile-center-textbox>div>p {
    font-size: 14px !important;
  }

  .profile-right-education {
    display: inline-block;
  }

  .profile-bt {
    margin-left: 50px !important;
  }

  .profile-right-education ul li {
    font-size: 13px !important;

  }

  .profile-right-experience ul li {
    font-size: 13px !important;
  }
}



/* portfolio */
@media screen and (max-width: 1000px) {
  .portfolio {
    position: relative;
    display: block
  }

  .portfolio .inner {
    position: relative;
    display: block;
  }

  .portfolio-title {
    display: none !important;
  }

  .persnoal-top {
    display: none !important;
  }

  .business_canvas {
    display: none !important;
  }

  .business_canvas2 {
    display: none !important;
  }

  .allproject {
    position: relative;
    display: block;
    margin-bottom: 50px;
  }

  .allproject-title-box {
    position: relative;
    display: block;
    padding-top: 50px;
  }

  .allproject-title-box>h2 {
    position: relative;
    font-size: 40px !important;
    font-weight: 700;
    text-align: center;
    color: #2b304e;
    padding-bottom: 20px;
    margin-top: 50px;
    margin-bottom: 35px;
    transition: all 0.3s;
  }

  .allproject-title-box>h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 100px;
    height: 4px;
    background: #fcc52c;
  }

  .allproject-title-box>p {
    text-align: center;
    color: #022144;
    padding-bottom: 35px;
  }

  .study-midle-all {
    display: none !important;
  }
}

@media screen and (max-width: 880px) {
  .allproject {
    position: relative;
    display: block;
    margin-bottom: 50px;
  }

  .allproject-title-box {
    position: relative;
    display: block;
    padding-top: 50px;
  }

  .allproject-title-box>h2 {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #2b304e;
    padding-bottom: 20px;
    margin-top: 50px;
    margin-bottom: 35px;
    transition: all 0.3s;
  }

  .allproject-title-box>h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 100px;
    height: 4px;
    background: #fcc52c;
  }

  .allproject-title-box>p {
    text-align: center;
    color: #022144;
    padding-bottom: 35px;
  }

  .allproject-title-item {
    position: relative;
    display: flex;
    justify-content: space-around !important;
    flex-wrap: wrap;
    width: 100% !important;
  }
}

@media screen and (max-width: 778px) {
  .allproject {
    position: relative;
    display: block;
    margin-bottom: 50px;
  }

  .allproject-title-box {
    position: relative;
    display: block;
    padding-top: 50px;
  }

  .allproject-title-box>h2 {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #2b304e;
    padding-bottom: 20px;
    margin-top: 50px;
    margin-bottom: 35px;
    transition: all 0.3s;
  }

  .allproject-title-box>h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 100px;
    height: 4px;
    background: #fcc52c;
  }

  .allproject-title-box>p {
    text-align: center;
    color: #022144;
    padding-bottom: 35px;
  }

  .allproject-menubar {
    padding-left: 0px !important;
  }

  .allproject-title-item {
    position: relative;
    display: flex;
    justify-content: space-around !important;
    flex-wrap: wrap;
    width: 100% !important;
  }
}

@media screen and (max-width: 600px) {
  .allproject-title-item {
    width: 100%;
  }

  .allproject-item {
    position: relative;
    display: block;
    border: 1px solid #fcc52c;
    margin-bottom: 15px !important;
    border-radius: 20px 0px 20px 0px !important;
    box-shadow: 0px 8px 12px 0px rgb(0 12 29 / 8%);
  }

  .allproject-item>img {
    width: 200px !important;
    height: 180px !important;
    border-radius: 20px 0px 20px 0px;
  }

  .item-mack {
    display: none !important;
  }

  .item-mack2 {
    display: none !important;
  }

  .allproject-menubar>button {
    margin-bottom: 10px !important;
  }
}

/* skill */
@media screen and (max-width: 778px) {
  .skill .inner {
    max-width: 83.3333vw !important;
  }

  .skill-about-container {
    display: block !important;
  }

  .skill-about-container>div {
    position: relative;
    display: block !important;
    height: 30px !important;
    font-size: 20px !important;
  }

  .skill-about-container>div>p {
    transform: translateY(-85%) !important;
    z-index: 99;
  }

  .skill-about-container>div>i {
    font-size: 0px !important;
  }

  .skill-about-container>div>div {
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 20px !important;
  }

  .skill-about-container>div>div {
    transform: rotate(0deg) !important;
  }
}



/* experience */
@media screen and (max-width: 1000px) {
  .experience {
    padding: 50px 0px 50px 0px !important;
  }

  .experience-title-box>p {
    margin: 0 0 0 0 !important;
    padding-bottom: 30px;
  }

  .experience-item {
    width: 100% !important;
    height: 18.75em !important;
    border-top: 0.06em solid #edecec;
    border-bottom: 0.06em solid #edecec;
    border-left: 0.06em solid #edecec;
    border-right: 0.06em solid #edecec;
    background: #fff;
    padding: 3.75em 2.50em 0.00em 3.75em !important; 
    margin-left: 20px !important;
    margin-right: 20px !important;
    flex-wrap: wrap;
    transition: all 0.5s;
  }
}

/* life */

/* vision */
/* footer */