@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

@font-face {
  font-family: "CookieRun";
  src: url("../fonts/CookieRun-Regular.woff");
  src: url("../fonts/CookieRun-Black.woff");
  src: url("../fonts/CookieRun-Bold.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans KR", Helvetica, "맑은 고딕", "malgun gothic",
    "Apple SD Gothic Neo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.64px;
  color: #444;
}

/* 공통요소 */
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

.wrap {
  position: relative;
  display: block;
}

/* gotop */
.gotop {
  position: fixed;
  right: 20px;
  bottom: 50px;
  display: block;
  width: 50px;
  height: 50px;
  background: url("../images/gotop.png") no-repeat center;
  background-size: cover;
  background-color: #2b304e;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  z-index: 999;
  transition: all 0.3s;
}
.gotop:hover {
  transform: scale(1.2);
}

/* 고정메뉴 */
.fix-menu {
  position: fixed;
  right: 10px;
  top: 40%;
  display: block;
  text-align: center;
  line-height: 4.5;
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.fix-menu-show {
  opacity: 1;
  visibility: visible;
}

.fix-menu a {
  position: relative;
  display: block;
  margin-bottom: 10px;
  white-space: nowrap;
  width: 75px;
  height: 75px;
  border: 2px solid #8a8fa3;
  border-radius: 50%;
  box-shadow: 0px 3px 8px 0px rgb(21 47 95 / 12%);
  transition: all 0.3s;
}

.fix-menu a:hover {
  width: 80px;
  height: 80px;
  font-size: 18px;
  background: #2b304e;
  border: 2px solid #000;
}

.fix-menu a:hover > i {
  color: #ffff;
}

.fix-menu a:hover > span {
  color: #fff;
  font-weight: 700;
}
.fix-menu a > i {
  display: inline-block;
  font-size: 16px;
  color: #8a8fa3;
  padding-right: 3px;
}

.fix-menu a > span {
  color: #8a8fa3;
}

/* header */
.logo {
  position: absolute;
  display: block;
  left: -32%;
  top: 8px;
  width: 160px;
  height: 60px;
  background: url("../images/logo2.png") no-repeat center;
  background-size: contain;
}

.header {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  text-align: right;
  box-shadow: 0px 3px 8px 0px rgb(21 47 95 / 12%);
  background: #fff;
  z-index: 9999;
}

.header .inner {
}

.gnb {
  position: relative;
  display: inline-block;
}

.gnb > li {
  position: relative;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  margin: 0 18px;
  z-index: 99999;
}

.gnb > li:last-child {
  margin-right: 200px;
}

.gnb > li > a {
  display: block;
  line-height: 78px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin: 0 10px;
}

/* visual */
.visual {
  position: relative;
  display: block;
  height: 900px;
  background: #fcfcfc;
}

.visual .inner {
  position: relative;
  display: block;
}

.visual-left {
  position: relative;
  display: block;
  width: 50%;
  height: 100%;
}

.visual-left > img {
  position: absolute;
  display: block;
  /* transform: scaleX(-1); */
  top: 140px;
  /* left: -10%; */
  width: 522px;
  /* opacity: 0.8; */
}

.visual-right {
  position: absolute;
  display: block;
  width: 50%;
  height: 800px;
  right: 0;
}

.visual-right-box {
  position: absolute;
  display: block;
  top: 30%;
  left: -4%;
  width: 200px;
  height: 500px;
  background: #fcc52c;
}

.visual-right-textbox {
  position: relative;
  display: block;
  top: 45%;
  left: 0;
  padding-left: 50px;
}

.visual-right-textbox > p {
  font-size: 14px;
  font-weight: 500;
  color: #2b304e;
  padding-bottom: 10px;
  letter-spacing: 6;
}

.visual-right-textbox > h5 {
  color: #2b304e;
  font-size: 50px;
  font-weight: 500;
}

.visual-right-textbox > h3 {
  color: #2b304e;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.visual-right-bt {
  position: relative;
  display: block;
  border: none;
  background: #ffffff;
  border: 1px soli #ffff;
  box-shadow: 0px 10px 20px 0px rgb(57 42 0 / 20%);
  padding: 15px 35px;
  cursor: pointer;
  transition: all 0.3s;
}

.visual-right-bt:hover {
  box-shadow: none;
}

/* .auto-text {
  font-size: 48px;
  font-weight: 800;
  color: #2b304e;
  text-align: left;
  text-shadow: 3px 3px 3px gray;
  margin-top: 60px;
  margin-left: 40px;
  z-index: 10;
}

.auto-text::after {
  content: "";
  padding-right: 2.6rem;
  animation: cursor 1.9s infinite steps(2);
}

@keyframes cursor {
  from {
    border-left: 3px solid #222;
  }

  to {
    border-left: 3px solid #777;
  }
} */

/* profile */

/* profile */

.profile {
  position: relative;
  display: block;
}

.profile .inner {
  position: relative;
  display: block;
  padding-top: 120px;
  padding-bottom: 130px;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.profile-left {
  position: relative;
  margin-right: 0;
}

.porfile-left-img {
  position: relative;
  display: block;
  width: 250px;
  height: 250px;
  top: 40px;
  left: 0;
  border-radius: 50%;
  background: url("../images/itsme.png") no-repeat center;
  background-size: cover;
  opacity: 0.6;
  transition: all 0.3s;
}

.porfile-left-img:hover {
  opacity: 1;
}

.profile-left > span {
  position: relative;
  font-size: 45px;
  left: 30px;
  top: 30px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: "Poppins";
  color: #32333c;
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 35px;
  transition: all 0.3s;
}

.profile-left > span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 140px;
  height: 5px;
  background: #fcc52c;
}

.profile-center {
  position: relative;
  display: block;
  top: 0;
  padding-left: 50px;
}

.profile-center-textbox {
  position: relative;
  display: block;
  white-space: wrap;
}

.profile-center-textbox ul {
  padding-bottom: 20px;
}

.profile-center-textbox ul p {
  font-size: 20px;
  font-weight: 700;
  color: #32333c;
  padding-bottom: 5px;
}
.profile-center-textbox ul li {
  font-size: 16px;
  font-weight: 500;
  color: #8a8fa3;
}

.profile-center-textbox > p {
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 28px;
  color: #8a8fa3;
  margin-bottom: 30px;
  transition: all 0.3s;
}

.profile-center-textbox > span {
  font-size: 20px;
  font-weight: 500;
  color: #32333c;
}

.profile-center-bt {
  border: none;
  background: #fcc52c;
  border: 1px solid #fcc52c;
  border-radius: 10px;
  padding: 17px 35px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 20px;
}

.profile-center-bt2 {
  border: none;
  background: #fcc52c;
  border: 1px solid #fcc52c;
  border-radius: 10px;
  padding: 17px 35px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 20px;
}

.profile-center-bt:hover {
  color: #fcc52c;
  font-weight: 500;
  background: #ffff;
}

.profile-center-bt2:hover {
  color: #fcc52c;
  font-weight: 500;
  background: #ffff;
}

.profile-right {
  position: relative;
  display: block;
  transition: all 0.5s;
}

.profile-right {
  position: relative;
  display: block;
}
.profile-right-education {
  padding-bottom: 45px;
}
.profile-right-education ul {
  position: relative;
  display: block;
}
.profile-right-education ul h4 {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 10px;
}
.profile-right-education ul li {
  color: #8a8fa3;
}

.profile-right-experience {
  position: relative;
  display: block;
}
.profile-right-experience ul {
  position: relative;
  display: block;
}
.profile-right-experience ul h4 {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 10px;
}
.profile-right-experience ul li {
  color: #8a8fa3;
}

/* portfolio */
.portfolio {
  position: relative;
  display: block;
  background: #fcfcfc;
  padding-bottom: 30px;
}

.portfolio .inner {
  position: relative;
  display: block;
}

.portfolio-title {
  position: relative;
  display: block;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 40px;
}

.portfolio-title > h2 {
  position: relative;
  display: inline-block;
  text-align: center;
  color: #32333c;
  font-size: 45px;
  font-weight: 800;
  /* background: rgba(1, 3, 150, 0.5); */
  width: 100%;
  padding-bottom: 40px;
}

.portfolio-title > span {
  text-align: center;
  color: #8a8fa3;
  z-index: 99;
}

/* canbus */
.business {
  position: relative;
  display: block;
  height: 100vh;
  overflow: hidden;
}

.business_canvas {
  position: absolute;
  top: 5%;
  left: -80%;
  width: 100%;
  height: 100%;
  /* background-color: #fdfaf7; */
}

.business_canvas2 {
  position: absolute;
  top: 5%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.business_bg {
  width: 100%;
  height: 100%;
}

.business_bg2 {
  width: 100%;
  height: 100%;
}

.business_bg span {
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  height: 1200px;
  background: url("../images/bktext3.png") no-repeat right bottom / contain;
  font-size: 0;
}

.business_bg2 span {
  position: absolute;
  top: 40%;
  right: -20%;
  width: 500px;
  height: 1200px;
  background: url("../images/bktext3.png") no-repeat right bottom / contain;
  font-size: 0;
}

/*  */

.portfolio p {
  position: relative;
  font-size: 20px;
  padding-bottom: 20px;
}

/* .portfolio p::after {
  content: "";
  position: absolute;
  left: -10px;
  top: 30px;
  width: 400px;
  height: 10px;
  background: yellow;
  z-index: 99;
} */

.allpr {
  position: relative;
  display: block;
  top: 0;
  transform: translateY(-10%);
  width: 100%;
  height: 500px;
}

.persnoal-top {
  position: relative;
  display: block;
  transform: translateY(-0);
  left: 10%;
}

.persnoal-top > h4 {
  position: relative;
  top: 0;
  right: -60%;
  color: #2b304e;
  font-size: 30px;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 50px;
}

.pr-img1 {
  position: relative;
  display: block;
  left: 50px;
  width: 400px;
  height: 300px;

  background: url("../images/junguk.png") no-repeat center;
  background-size: cover;
  box-shadow: 0 0 10px gray;
  transition: all 0.5s;
  z-index: 2;
}

/* .pr-img1:hover {
  background: url('../images/jung.png') no-repeat top;
  background-size: contain;
  opacity: 0.15;
  z-index: 4;
} */

.pr-img2 {
  position: relative;
  display: block;
  width: 400px;
  height: 300px;
  left: 30%;
  transform: translateY(-30%);
  background: url("../images/suzuki2.png") no-repeat center;
  background-size: cover;
  box-shadow: 0 0 10px gray;
  transition: all 0.5s;
  z-index: 3;
}

.pr-textbox {
  position: relative;
  float: right;
  right: 35%;
  top: 0;
  transform: translateY(-450%);
}

.pr-textbox > p::after {
  content: "";
  position: absolute;
  left: -10px;
  top: 30px;
  width: 400px;
  height: 10px;
  background: #fcc52c;
  z-index: 99;
}

.pr-textbox > li {
  padding: 10px 0;
  padding-left: 20px;
}

.pr-textbox > li > a {
  font-size: 16px;
}

.study-midle {
  position: relative;
  display: block;
  transform: translateY(-5%);
}

.study-midle > h4 {
  position: relative;
  display: block;
  color: #2b304e;
  font-size: 30px;
  font-weight: 700;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* 스와이퍼 슬라이드 연동하기 */
.swiper-inner {
  position: relative;
  display: block;
  width: 500px;
  height: 400px;
  margin-left: 50px;
}

.swiper {
  width: 500px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.sw-port-cube a {
  position: relative;
  display: block;
}

.sw-port-cube .sw-port-thumb::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: all 0.5s;
  z-index: 1;
}

.sw-port-cube .sw-port-thumb:hover::before {
  opacity: 1;
}

.sw-port-link {
  position: absolute;
  left: 0;
  top: 40%;
  display: block;
  width: 100%;
  text-align: center;
  z-index: 2;
  opacity: 0;
}

.sw-port-link a {
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: #fff;
  padding-left: 10px;
  padding-bottom: 10px;
}

.sw-port-link i {
  position: relative;
  font-size: 30px;
}

.sw-port-cube .sw-port-thumb:hover .sw-port-link {
  opacity: 1;
}

.swiper-slide > a > img {
  display: block;
  width: 500px;
  height: 400px;
  box-shadow: 0 0 3px gray;
}

.st-list {
  position: absolute;
  display: inline-block;
  top: 30%;
  left: 50%;
}

.st-list > p {
  color: #2b304e;
  width: 400px;
  padding-left: 20px;
  text-align: left;
  font-weight: 700;
}

.st-list > p::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 30px;
  width: 300px;
  height: 10px;
  background: #fcc52c;
  z-index: 99;
}

.st-list > li {
  position: relative;
  display: block;
  text-align: left;
  font-size: 16px;
  padding-bottom: 10px;
}

.st-list > li > a {
  color: #2b304e;
}

/* 예제 */
.slide {
  width: 900px;
  margin: 0 auto;
}

.slide-menu a {
  position: relative;
  display: inline-block;
  margin: 0 20px;
}

.slide-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #000;
  transition: all 0.5s;
}

/* 탭메뉴 효과 */
.slide-menu-active {
  font-weight: 700;
}

.slide-menu-active::after {
  width: 100% !important;
}

.sw-slide {
  height: 500px;
}

/* allproject */
.allproject {
  position: relative;
  display: block;
  margin-bottom: 50px;
}

.allproject-title-box {
  position: relative;
  display: block;
  padding-top: 50px;
}

.allproject-title-box > h2 {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #2b304e;
  padding-bottom: 20px;
  margin-top: 50px;
  margin-bottom: 35px;
  transition: all 0.3s;
}

.allproject-title-box > h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 100px;
  height: 4px;
  background: #fcc52c;
}

.allproject-title-box > p {
  text-align: center;
  color: #022144;
  padding-bottom: 35px;
}

.allproject-menubar {
  position: relative;
  display: block;
  text-align: center;
  width: 100%;
  padding-left: 60px;
  /* margin: 30px auto; */
}

.allproject-menubar > button {
  border: none;
  cursor: pointer;
  background: none;
  margin-bottom: 35px;
}

.allproject-menubar > button > p {
  position: relative;
  display: inline-block;
  padding: 10px 10px;
  white-space: nowrap;
  margin: 0 auto;
  margin-right: 20px;

  color: #8a8fa3;
  font: 700 16px/28px "Poppins", sans-serif;
  border: 1px solid #8a8fa3;
  border-radius: 7px 20px 7px 20px;

  transition: all 0.3s;
}

.allproject-menubar > button > p:hover {
  color: #fcc52c;
  font-weight: 700;
  border: 1px solid #fcc52c;
  font: 700 16px/28px "Poppins", sans-serif;
  transform: scale(1.2);
}

.allproject-title-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.allproject-item {
  position: relative;
  display: block;
  border: 1px solid #fcc52c;
  margin-bottom: 30px;
  border-radius: 20px 0px 20px 0px;
  box-shadow: 0px 8px 12px 0px rgb(0 12 29 / 8%);
}

.allproject-item > img {
  width: 280px;
  height: 260px;
  border-radius: 20px 0px 20px 0px;
}

.item-mack {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 260px;
  border-radius: 20px 0px 20px 0px;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}

.item-mack2 {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  content: "";
  width: 280px;
  height: 0px;
  border-radius: 0px 0px 20px 0px;
  text-align: center;
  line-height: 2;
  padding-top: 25px;
  opacity: 0;
  transition: all 0.3s;
}

.item-mack2 > a {
  display: inline-block;
  border: 1px solid #ffff;
  border-radius: 20px;
  width: 90px;
  margin-bottom: 10px;
  color: #ffff;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}

.item-mack2 > a:hover {
  transform: scale(1.2);
  font-weight: 600;
  background: rgba(0, 0, 0, 0.9);
  border: 1.8px solid #fcc52c;
  color: #fcc52c;
}

.item-mack2 > a > i {
}

.allproject-item:hover .item-mack {
  transform: scale(1.2);
  z-index: 20;
  border-radius: 20px 20px 20px 20px;
  background: none;
}

.allproject-item:hover .item-mack2 {
  opacity: 1;
  height: 130px;
  z-index: 999;
}

/* about */
.skill {
  position: relative;
  display: block;
}

.skill > .skill-back {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.15;
  width: 570px;
  height: 386px;
  background: url("../images/skillback.png") no-repeat center;
  background-size: cover;
}

.skill > .skill-back2 {
  position: absolute;
  bottom: -100px;
  right: 0;
  opacity: 0.15;
  width: 570px;
  height: 386px;
  background: url("../images/skillback.png") no-repeat center;
  background-size: cover;
  rotate: 180deg;
}

.skill .inner {
  position: relative;
  display: block;
  height: 650px;
  margin-bottom: 100px;
}

.ab-text {
  position: relative;
  display: block;
  padding-top: 50px;
  margin-bottom: 50px;
}

.ab-text > h3 {
  position: relative;
  text-align: center;
  color: #32333c;
  font-size: 44px;
  font-weight: 700;
}

.ab-text > h3::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 45%;
  width: 100px;
  height: 4px;
  background: #fcc52c;
}
.ab-text > span {
  position: relative;
  display: block;
  text-align: center;
  padding-top: 50px;
}

.skill-about-container {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.skill-about-container p {
  position: relative;
  text-align: center;
  color: #2b304e;
  padding: 10px 0;
  font-weight: 500;
}

.skill-about-container > div {
  position: relative;
  display: block;
  height: 350px;
}

.skill-about-container > div > i {
  font-size: 50px;
}
.skill-about-container > div > div {
  position: absolute;
  left: calc(50% + 10px);
  top: 100px;
  transform: rotate(90deg);
  transform-origin: 0 0;
  width: 350px;
}

/* experience */
.experience {
  position: relative;
  display: block;
  background: #fcfcfc;
  padding: 120px 0px 150px 0px;
}

.experience .inner {
  position: relative;
  display: block;
}

.experience-title-box {
  position: relative;
  display: block;
}

.experience-title-box > h2 {
  position: relative;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  color: #32333c;
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 35px;
  transition: all 0.3s;
}

.experience-title-box > h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 100px;
  height: 4px;
  background: #fcc52c;
}

.experience-title-box > p {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  font-family: "Poppins";
  color: #8a8fa3;
  margin: 0 200px 70px 200px;
}

.experience-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.experience-item {
  width: 30%;
  height: 300px;
  border-top: 1px solid #edecec;
  border-bottom: 1px solid #edecec;
  border-left: 1px solid #edecec;
  background: #fff;
  padding: 75px 40px 75px 40px;
  transition: all 0.5s;
}

.experience-item:hover {
  background: #fcc52c;
}

.experience-item:last-child {
  border-right: 1px solid #edecec;
}

.experience-item > p {
  font-size: 15px;
  line-height: 28px;
  text-transform: uppercase;
  color: #8a8fa3;
  margin-bottom: 5px;
  transition: all 0.3s;
}

.experience-item > h3 {
  color: #32333c;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}

.experience-item > .experience-item-list {
  max-width: 770px;
  width: 100%;
  height: 300px;
  margin: 0 auto 80px;
}
.experience-item-list > li {
  font-size: 12px;
  font-weight: 300;
  color: #8a8fa3;
}

/* life */
.life {
  position: relative;
  display: block;
  padding: 120px 0px 150px 0px;
}

.life .inner {
  position: relative;
  display: block;
}

.life-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.life-item {
  width: 30%;
  height: 600px;
  background: #fff;
  padding-bottom: 75px;
  box-shadow: 0px 4px 6px 0px rgb(0 12 29 / 8%);
  transition: all 0.5s;
}

.life-item > div > img {
  width: 360px;
  height: 240px;
  box-shadow: 0px 4px 6px 0px rgb(0 12 29 / 8%);
}

.life-item .life-item-study {
  background: url("../images/studyfrends2.png") no-repeat center;
  background-size: cover;
  transition: all 0.5s;
}

.life-item .life-item-tiproad {
  background: url("../images/tripfoodG.gif") no-repeat center;
  background-size: cover;
  transition: all 0.5s;
}

.life-item .life-item-drow {
  background: url("../images/painting2.png") no-repeat center;
  background-size: cover;
  transition: all 0.5s;
}

.life-item:hover img {
  opacity: 0;
}

.life-item img {
  opacity: 1;
  width: 100%;
  height: 240px;
  transition: all 0.5s;
}

.life-item-text {
  padding: 33px 35px;
  white-space: wrap;
}

.life-item-text > h3 {
  color: #fec110;
  font: 500 14px/30px "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 15px;
  margin-top: 0;
}

.life-item-text > h3::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 40px;
  height: 1px;
  background: #fec110;
}

.life-item-text > span {
  display: block;
  color: #022144;
  font: 400 20px/30px "Poppins", sans-serif;
  padding-bottom: 30px;
}

.life-item-text > p {
  color: #8a8fa3;
  font: 300 16px/28px "Poppins", sans-serif;
  margin-bottom: 10px;
}

.experience-item {
  width: 30%;
  border-top: 1px solid #edecec;
  border-bottom: 1px solid #edecec;
  border-left: 1px solid #edecec;
  background: #fff;
  padding: 75px 40px 75px 40px;
  transition: all 0.5s;
}

/* vison */
.vision {
  position: relative;
  display: block;
  background: #fcfcfc;
  padding-top: 50px;
  padding-bottom: 100px;
}

.vision .inner {
  position: relative;
  display: block;
  background: #fcfcfc;
  /* padding-bottom: 50px; */
}

.vision-t {
  position: absolute;
  display: block;
  padding-top: 50px;
  left: 36%;
  z-index: 999;
}

.vision-t > h2 {
  color: #2b304e;
  font-size: 44px;
  font-weight: 700;
}

.sw-contain {
  position: relative;
  display: block;
  width: 100%;
  top: 120px;
  left: -450px;
  margin-top: 100px;
  /* margin-top: 200px; */
}

.swiper {
  position: relative;
  display: block;
  width: 1200px;
}

.swiper-slide {
  font-size: 18px;
  background: #fcfcfc;
  width: 100%;
  height: 70%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide .vision1 > h2 {
  padding-bottom: 40px;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  color: #2b304e;
}

.vision-img {
  position: absolute;
  display: block;
  top: 18px;
  left: 0;
  width: 500px;
  height: 362px;
  background: url("../images/begener.png") no-repeat center;
  background-size: cover;
  opacity: 0.7;
}

.vision-img2 {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 500px;
  height: 380px;
  background: url("../images/expert.png") no-repeat center;
  background-size: cover;
  opacity: 0.7;
}
.vision-img3 {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 480px;
  height: 218px;
  background: url("../images/master.png") no-repeat center;
  background-size: cover;
  opacity: 0.7;
}
.textvision1 {
  position: relative;
  display: block;
  width: 500px;
  left: 30%;
}

.textvision1 > ul > h4 {
  position: relative;
  display: block;
  width: 600px;
  font-size: 32px;
  color: #2b304e;
  font-weight: 500;
  padding: 30px 0;
  text-shadow: 0px 4px 6px 0px rgb(0 12 29 / 8%);
  z-index: 99;
}

.textvision1 > ul > h4::after {
  content: "";
  position: absolute;
  bottom: 40px;
  left: 20px;
  width: 550px;
  height: 10px;
  background: #fcc52c;
  z-index: -1;
}

.textvision1 > ul > p {
  color: #2b304e;
  font-size: 30px;
  padding-bottom: 40px;
  text-align: left;
}

.textvision1 > ul > li > p {
  color: #2b304e;
}

:root {
  --swiper-theme-color: #fcc52c;
}

/* footer */

.footer {
  position: relative;
  display: block;
  background: #2b304e;
}

.footer .inner {
  position: relative;
  display: block;
}

.contact-box {
  position: relative;
  display: block;
  text-align: center;
  padding: 100px;
  color: #fff;
}

.contact-box > h2 {
  font-size: 36px;
  font-weight: 500;
  padding-bottom: 25px;
}

.contact-box > ul > span {
  padding-right: 20px;
}

.kakao {
  position: relative;
  display: inline-block;
  width: 27px;
  height: 27px;
  background: url("../images/kakao3.png") no-repeat center;
  background-size: cover;
}
