@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

@font-face {
  font-family: "CookieRun";
  src: url("../fonts/CookieRun-Regular.woff");
  src: url("../fonts/CookieRun-Black.woff");
  src: url("../fonts/CookieRun-Bold.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans KR", Helvetica, "맑은 고딕", "malgun gothic",
    "Apple SD Gothic Neo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.64px;
  color: #444;
}

/* 공통요소 */
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

.wrap {
  position: relative;
  display: block;
}

/* header */
.logo {
  position: absolute;
  display: block;
  left: -32%;
  top: 8px;
  width: 160px;
  height: 60px;
  background: url("../images/logo2.png") no-repeat center;
  background-size: contain;
}

.header {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  text-align: right;
  box-shadow: 0px 3px 8px 0px rgb(21 47 95 / 12%);
  background: #fff;
  z-index: 9999;
}

.header .inner {}

.gnb {
  position: relative;
  display: inline-block;
}

.gnb>li {
  position: relative;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  margin: 0 18px;
  z-index: 99999;
}
.gnb>li:last-child {
  margin-right: 200px;
}
.gnb>li>a {
  display: block;
  line-height: 78px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin: 0 10px;
}

/* visual */
.visual {
  position: relative;
  display: block;
  height: 900px;
  background: #fcfcfc;
}
.visual .inner {
  position: relative;
  display: block;
}

.visual-left {
  position: relative;
  display: block;
  width: 50%;
  height: 100%;
}

.visual-left > img {
  position: absolute;
  display: block;
  top: -100px;
  left: -200px;
  width: 700px;
  height: 1000px;
}

.visual-right {
  position: absolute;
  display: block;
  width: 50%;
  height: 800px;
  right: 0;
}

.visual-right-box {
  position: absolute;
  display: block;
  top: 30%;
  left: -14%;
  width: 200px;
  height: 500px;
  background: #fcc52c;
}
.visual-right-textbox {
  position: relative;
  display: block;
  top: 45%;
  left: -8%;
  padding-left: 50px;
}

.visual-right-textbox > p {
  font-size: 14px;
  font-weight: 500;
  color: #2b304e;
  padding-bottom: 10px;
  letter-spacing: 6;
}

.visual-right-textbox > h5 {
  color: #2b304e;
  font-size: 50px;
  font-weight: 500;
}
.visual-right-textbox > h3 {
  color: #2b304e;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.visual-right-bt {
  position: relative;
  display: block;
  border: none;
  background: #ffffff;
  border: 1px soli #ffff;
  box-shadow: 0px 10px 20px 0px rgb(57 42 0 / 20%);
  padding: 15px 35px;
  cursor: pointer;
  transition: all 0.3s;
}

.visual-right-bt:hover {
  box-shadow: none;
}

/* .auto-text {
  font-size: 48px;
  font-weight: 800;
  color: #2b304e;
  text-align: left;
  text-shadow: 3px 3px 3px gray;
  margin-top: 60px;
  margin-left: 40px;
  z-index: 10;
}

.auto-text::after {
  content: "";
  padding-right: 2.6rem;
  animation: cursor 1.9s infinite steps(2);
}

@keyframes cursor {
  from {
    border-left: 3px solid #222;
  }

  to {
    border-left: 3px solid #777;
  }
} */

/* profile */

.profile {
  position: relative;
  display: block;
  height: 800px;
}
.profile .inner {
  position: relative;
  display: block;
}
.profile-left {
  position: relative;
  display: block;
  width: 50%;
  height: 100%;
}

.porfile-left-img {
  position: relative;
  display: block;
  width: 250px;
  height: 250px;
  top: 100px;
  transform: translateX();
  border-radius: 50%;
  background: url('../images/itsme.png') no-repeat center;
  background-size: cover;
  z-index: -1;
}

.profile-left > span {
  position: relative;
  display: block;
  font-size: 50px;
  font-weight: 500;
  padding-left: 100px;
  color: #fcc52c;
}
.profile-left > span::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 40%;
  width: 100px;
  height: 10px;
  background: #000;
}



/* .profile {
  position: relative;
  display: block;
}

.profile .inner {
  position: relative;
  display: block;
}

.profile-top {
  position: relative;
  display: block;
  margin-top: 100px;
}

.profile-top > h2 {
  display: inline-block;
  padding-left: 100px;
  font-size: 110px;
  font-weight: 700;
  font-family: "CookieRun";
  color: #2b304e;
}

.myficture {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 600px;
  height: 300px;
  background: url("../images/trip3.jpg") no-repeat top;
  background-size: cover;
  border-radius: 50%;
}

.profile-bottom {
  position: relative;
  display: block;
  margin-top: 50px;
  width: 100%;
  height: 100%;
}

.profile-bottom > .mefic {
  position: relative;
  display: block;
  left: 6%;
  top: 20px;
  width: 380px;
  height: 300px;
  background: url('../images/meme2.png') no-repeat center;
  background-size: cover;
}

.meme2 {
  position: absolute;
  top: -30px;
  left: 20%;
  width: 300px;
  height: 270px;
  background: #2b304e;
  z-index: -1;
}

.profiletbox {
  position: relative;
  display: block;
  transform: translateX(60%);
  top: -200px;
}

.profiletbox > p {
  color: #222;
  font-size: 20px;
}

.profiletbox > span {
  font-size: 30px;
  font-weight: 500;
  line-height: 3.0;
  color: #fff;
  padding-left: 20px;
  padding-right: 700px;
  border: 1px solid #2b304e;
  background: #2b304e;
}

.about-box-right {
  position: absolute;
  right: 0;
  bottom: -80%;
}

.about-box-right>p {
  font-size: 20px;
}

.stat {
  background: url("../images/Untitled-3.png") no-repeat center;
  background-size: cover;
  width: 600px;
  height: 600px;
}

.stat2 {
  position: absolute;
  top: 30px;
  left: 0;
  background: url("../images/stat2.png") no-repeat center;
  background-size: cover;
  width: 600px;
  height: 600px;
}

.info-rigiht {
  position: absolute;
  display: inline-block;
  top: 50%;
  right: 0;
} */


/* portfolio */
.portfolio {
  position: relative;
  display: block;
  background: #ffff;
}

.portfolio .inner {
  position: relative;
  display: block;
}

.portfolio .inner>h2 {
  position: relative;
  display: inline-block;
  text-align: left;
  color: #2b304e;
  font-size: 30px;
  font-weight: 800;
  /* background: rgba(1, 3, 150, 0.5); */
  width: 100%;
  padding-top: 80px;
  margin-bottom: 20px;
}

/* canbus */
.business {
  position: relative;
  display: block;
  height: 100vh;
  overflow: hidden;
}

.business_canvas {
  position: absolute;
  top: 5%;
  left: -80%;
  width: 100%;
  height: 100%;
  /* background-color: #fdfaf7; */
}

.business_canvas2 {
  position: absolute;
  top: 5%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.business_bg {
  width: 100%;
  height: 100%;
}

.business_bg2 {
  width: 100%;
  height: 100%;
}

.business_bg span {
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  height: 1200px;
  background: url("../images/bktext.png") no-repeat right bottom / contain;
  font-size: 0;
}

.business_bg2 span {
  position: absolute;
  top: 40%;
  right: -20%;
  width: 500px;
  height: 1200px;
  background: url("../images/bktext.png") no-repeat right bottom / contain;
  font-size: 0;
}

/*  */

.portfolio p {
  position: relative;
  font-size: 20px;
  padding-bottom: 20px;
}

.portfolio p::after {
  content: "";
  position: absolute;
  left: -10px;
  top: 30px;
  width: 400px;
  height: 10px;
  background: yellow;
  z-index: 99;
}

.allpr {
  position: relative;
  display: block;
  top: 0;
  transform: translateY(-10%);
  width: 100%;
  height: 500px;
}

.persnoal-top {
  position: relative;
  display: block;
  transform: translateY(-0);
  left: 10%;
}

.persnoal-top>h4 {
  position: relative;
  top: 0;
  right: -60%;
  color: #2b304e;
  font-size: 30px;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 50px;
}

.pr-img1 {
  position: relative;
  display: block;
  left: 50px;
  width: 400px;
  height: 300px;

  background: url("../images/jung.png") no-repeat top;
  background-size: cover;
  box-shadow: 0 0 10px gray;
  transition: all 0.5s;
  z-index: 2;
}

/* .pr-img1:hover {
  background: url('../images/jung.png') no-repeat top;
  background-size: contain;
  opacity: 0.15;
  z-index: 4;
} */

.pr-img2 {
  position: relative;
  display: block;
  width: 400px;
  height: 300px;
  left: 30%;
  transform: translateY(-30%);

  background: url("../images/suzuki.png") no-repeat top;
  background-size: cover;
  box-shadow: 0 0 10px gray;
  transition: all 0.5s;
  z-index: 3;
}

/* .pr-img2:hover {
  background: url('../images/suzuki.png') no-repeat top;
  background-size: contain;
  opacity: 0.15;
} */

.pr-textbox {
  position: relative;
  float: right;
  right: 35%;
  top: 0;
  transform: translateY(-450%);
}

.pr-textbox>li {
  padding: 10px 0;
  padding-left: 20px;
}

.pr-textbox>li>a {
  font-size: 16px;
}

.study-midle {
  position: relative;
  display: block;
  transform: translateY(-5%);
}

.study-midle>h4 {
  position: relative;
  display: block;
  color: #2b304e;
  font-size: 30px;
  font-weight: 700;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* 스와이퍼 슬라이드 연동하기 */
.swiper-inner {
  position: relative;
  display: block;
  width: 500px;
  height: 400px;
  margin-left: 50px;
}

.swiper {
  width: 500px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.sw-port-cube a {
  position: relative;
  display: block;
}

.sw-port-cube .sw-port-thumb::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: all 0.5s;
  z-index: 1;
}

.sw-port-cube .sw-port-thumb:hover::before {
  opacity: 1;
}

.sw-port-link {
  position: absolute;
  left: 0;
  top: 40%;
  display: block;
  width: 100%;
  text-align: center;
  z-index: 2;
  opacity: 0;
}

.sw-port-link a {
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: #fff;
  padding-left: 10px;
  padding-bottom: 10px;
}

.sw-port-link i {
  position: relative;
  font-size: 30px;
}

.sw-port-cube .sw-port-thumb:hover .sw-port-link {
  opacity: 1;
}

.swiper-slide>a>img {
  display: block;
  width: 500px;
  height: 400px;
  box-shadow: 0 0 3px gray;
}

.st-list {
  position: absolute;
  display: inline-block;
  top: 30%;
  left: 50%;
}

.st-list>p {
  color: #2b304e;
  width: 400px;
  padding-left: 20px;
  text-align: left;
  font-weight: 700;
}

.st-list>p::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 30px;
  width: 300px;
  height: 10px;
  background: yellow;
  z-index: 99;
}

.st-list>li {
  position: relative;
  display: block;
  text-align: left;
  font-size: 16px;
  padding-bottom: 10px;
}

.st-list>li>a {
  color: #2b304e;
}

/* 예제 */
.slide {
  width: 900px;
  margin: 0 auto;
}

.slide-menu {
  height: 50px;
  text-align: center;
}

.slide-menu a {
  position: relative;
  display: inline-block;
  margin: 0 20px;
}

.slide-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #000;
  transition: all 0.5s;
}

/* 탭메뉴 효과 */
.slide-menu-active {
  font-weight: 700;
}

.slide-menu-active::after {
  width: 100% !important;
}

.sw-slide {
  height: 500px;
}

/* team,Api,php */

.team-bottom {
  position: relative;
  display: block;
}

.expr {
  text-align: center;
  padding-right: 6%;
  padding: 100px 0;
  color: #2b304e;
  font-size: 30px;
  font-weight: 700;
}

.bottom-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding-left: 10%;
}

.bottom-container .img-thumb {
  width: 30%;
}

.bottom-container .img-thumb>a {
  position: relative;
  display: block;
}

.bottom-container .img-thumb>a img {
  width: 100%;
}

.bottom-container .img-thumb>a::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: all 0.5s;
  z-index: 1;
}

.bottom-container .img-thumb>a:hover::before {
  opacity: 1;
  z-index: 1;
}

.txt-box3 {
  width: 100%;
  margin-bottom: 200px;
  padding-left: 130px;
}

.txt-box3>h2 {
  text-align: left;
  position: relative;
  display: block;
  color: #2b304e;
  font-size: 30px;
  font-weight: 700;
  padding-top: 40px;
  padding-bottom: 20px;
}

.txt-box3>li {
  padding-left: 30px;
  padding-bottom: 10px;
}

.txt-box3>h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 400px;
  height: 10px;
  background: yellow;
  z-index: 99;
}

/* about */
.about {
  position: relative;
  display: block;
  margin-top: 100px;
}

.about .inner {
  position: relative;
  display: block;
  margin-top: 200px;
  height: 650px;
}

.ab-text {
  position: relative;
  display: block;
  top: -100px;
  padding-bottom: 50px;
}

.ab-text>h3 {
  position: relative;
  text-align: center;
  color: #2b304e;
  font-size: 44px;
  font-weight: 700;
}

.skill-i {
  position: absolute;
  top: 0;
  left: 39%;
  width: 44px;
  height: 44px;
  background: url("../images/skill2.png") no-repeat center;
  background-size: cover;
}

.skill-about-container {
  position: relative;
  display: flex;
  width: 100%;
  top: -50px;
  justify-content: space-between;
}

.skill-about-container p {
  position: relative;
  text-align: center;
  color: #2b304e;
  padding: 10px 0;
  font-weight: 500;
}

.skill-about-container>div>i {
  font-size: 50px;
}

#H {
  position: absolute;
  transform: rotate(90deg);
  bottom: -190px;
  left: -148px;
  width: 350px;
  height: 8px;
}

#C {
  position: absolute;
  transform: rotate(90deg);
  bottom: -190px;
  left: -50px;
  width: 350px;
  height: 8px;
}

#J {
  position: absolute;
  transform: rotate(90deg);
  bottom: -190px;
  left: 60px;
  width: 350px;
  height: 8px;
}

#S {
  position: absolute;
  transform: rotate(90deg);
  bottom: -190px;
  left: 180px;
  width: 350px;
  height: 8px;
}

#G {
  position: absolute;
  transform: rotate(90deg);
  bottom: -190px;
  left: 288px;
  width: 350px;
  height: 8px;
}

#V {
  position: absolute;
  transform: rotate(90deg);
  bottom: -190px;
  left: 380px;
  width: 350px;
  height: 8px;
}

#P {
  position: absolute;
  transform: rotate(90deg);
  bottom: -190px;
  left: 480px;
  width: 350px;
  height: 8px;
}

#Q {
  position: absolute;
  transform: rotate(90deg);
  bottom: -190px;
  left: 590px;
  width: 350px;
  height: 8px;
}

#M {
  position: absolute;
  transform: rotate(90deg);
  bottom: -190px;
  left: 695px;
  width: 350px;
  height: 8px;
}

#F {
  position: absolute;
  transform: rotate(90deg);
  bottom: -190px;
  left: 795px;
  width: 350px;
  height: 8px;
}

#T {
  position: absolute;
  transform: rotate(90deg);
  bottom: -190px;
  left: 900px;
  width: 350px;
  height: 8px;
}

#L {
  position: absolute;
  transform: rotate(90deg);
  bottom: -190px;
  left: 1010px;
  width: 350px;
  height: 8px;
}

/* my life */
.mylife {
  position: relative;
  display: block;
}

.mylife .inner {
  position: relative;
  display: block;
}

.md-text {
  color: #2b304e;
  text-align: center;

  font-size: 44px;
  font-weight: 500;
  padding-bottom: 20px;
  transform: translateY(40%);
}

.md-text::before {
  content: "";
  position: absolute;
  right: -5%;
  bottom: 30px;
  width: 55%;
  height: 10px;
  background: yellow;
  z-index: -1;
}

.lifetext {
  position: relative;
  display: block;
  text-align: center;
  padding: 40px 0;
}

.lifetext>h3 {
  color: #2b304e;
  font-size: 44px;
  font-weight: 700;
  padding-bottom: 20px;
}

.exptext {
  position: relative;
  display: block;
  text-align: left;
  padding-bottom: 10px;
}

.exptext>p {
  font-size: 36px;
  font-weight: 500;
  color: #2b304e;
}

.exptext>p::before {
  content: "";
  position: absolute;
  left: 5%;
  bottom: 20px;
  width: 60%;
  height: 10px;
  background: yellow;
  z-index: -1;
}

.lifetext2 {
  position: relative;
  display: block;
  text-align: left;
}

.lifetext2>p {
  font-size: 36px;
  font-weight: 500;
  color: #2b304e;
}

.experience {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  top: 10px;
  width: 100%;
  padding: 10px 0;
  padding-bottom: 50px;
}

.jobcover {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 0px;
  font-size: 0;
  height: 0px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  z-index: 99;
}

.jobcover>p {
  color: #fff;
  display: inline-block;
  opacity: 0;
  width: 280px;
  height: 280px;
  font-size: 24px;
  text-align: center;
  padding-top: 130px;
  padding-left: 60px;
  transition: all 0.5s;
}

.experience>.job1:hover>.jobcover {
  width: 100%;
  height: 100%;
  opacity: 1;
  font-size: 18px;
  transform: scale(1.2);
}

.experience>.job1:hover>.jobcover>p {
  opacity: 1;
  padding-left: 70px;
}

.experience>.job2:hover>.jobcover {
  width: 100%;
  height: 100%;
  opacity: 1;
  font-size: 18px;
  transform: scale(1.2);
}

.experience>.job2:hover>.jobcover>p {
  opacity: 1;
}

.experience>.job3:hover>.jobcover {
  width: 100%;
  height: 100%;
  opacity: 1;
  font-size: 18px;
  transform: scale(1.2);
}

.experience>.job3:hover>.jobcover>p {
  opacity: 1;
  padding-left: 70px;
}

.job1 {
  position: relative;
  display: block;
  /* height: 350px; */
  align-items: center;
  top: 75px;
  background-color: #444;
  transform: scale(1);
  transition: all 0.5s;
}

.job1>a>img {
  width: 280px;
  height: 280px;
}

.job2 {
  position: relative;
  display: block;
  align-items: center;
  background-color: #444;
  transform: scale(1);
  transition: all 0.5s;
}

.job2>a>img {
  position: relative;
  display: block;
  width: 280px;
  height: 280px;
}

.job3 {
  position: relative;
  display: block;
  top: -50px;
  align-items: center;
  background-color: #444;
  transform: scale(1);
  transition: right 0.5s;
}

.job3>a>img {
  width: 280px;
  height: 280px;
}

.experience2 {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 40px;
  padding-bottom: 200px;
}

.reading {
  position: relative;
  display: block;
  /* height: 350px; */
  align-items: center;
  background-color: #444;
  transform: scale(1);
  transition: all 0.5s;
}

.reading>a>img {
  width: 280px;
  height: 280px;
}

.draw {
  position: relative;
  display: block;
  top: 50px;
  /* width: 360px; */
  align-items: center;
}

.draw>a>img {
  position: relative;
  display: block;
  width: 280px;
  height: 280px;
}

.travel {
  position: relative;
  display: block;
  top: 100px;
  /* height: 350px; */
  align-items: center;
}

.travel>a>img {
  width: 280px;
  height: 280px;
}

.experience2>.reading:hover>.jobcover {
  width: 100%;
  height: 100%;
  opacity: 1;
  transform: scale(1.2);
}

.experience2>.reading:hover>.jobcover>p {
  opacity: 1;
  padding-left: 70px;
}

.experience2>.draw:hover>.jobcover {
  width: 100%;
  height: 100%;
  opacity: 1;
  transform: scale(1.2);
}

.experience2>.draw:hover>.jobcover>p {
  opacity: 1;
}

.experience2>.travel:hover>.jobcover {
  width: 100%;
  height: 100%;
  opacity: 1;
  transform: scale(1.2);
}

.experience2>.travel:hover>.jobcover>p {
  opacity: 1;
  padding-left: 70px;
}

.lifeinfo {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  padding-bottom: 100px;
}

.lifeinfo>div {
  width: 30%;
}

.work {
  position: relative;
  display: block;
  height: 250px;
  margin-left: 50px;
  background-color: #000;
  border: 1px solid #2b304e;
}

.ficture {
  position: relative;
  display: block;
  height: 250px;
  margin-right: 50px;
  background-color: #000;
}

/* vison */
.vision {
  position: relative;
  display: block;
  background: #fff;
}

.vision .inner {
  position: relative;
  display: block;
  background-color: #fff;
  padding-bottom: 50px;
}

.vision-t {
  position: absolute;
  display: block;
  top: -50px;
  left: 36%;
  z-index: 999;
}

.vision-t>h2 {
  color: #2b304e;
  font-size: 44px;
  font-weight: 700;
}

.sw-contain {
  position: relative;
  display: block;
  width: 100%;
  left: -450px;
  margin-top: 200px;
}

.swiper {
  position: relative;
  display: block;
  width: 1200px;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  width: 100%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide .vision1>h2 {
  padding-bottom: 40px;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  color: #2b304e;
}

.textvision1 {
  text-align: center;
}

.textvision1>ul>p {
  color: #2b304e;
  font-size: 30px;
  padding-bottom: 40px;
}

.textvision1>ul>li>p {
  color: #2b304e;
}

:root {
  --swiper-theme-color: yellow;
}

/* footer */

.footer {
  position: relative;
  display: block;
  background: #2b304e;
}

.footer .inner {
  position: relative;
  display: block;
}

.contact-box {
  position: relative;
  display: block;
  text-align: center;
  padding: 100px;
  color: #fff;
}

.contact-box>h2 {
  font-size: 36px;
  font-weight: 500;
  padding-bottom: 25px;
}

.contact-box>ul>span {
  padding-right: 20px;
}

.kakao {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../images/kakaoicon2.png") no-repeat center;
  background-size: cover;
}